.register {
  background: #ccc;
}

.register .container {
  width: 850px;
  background: #fff;
  margin: 5px auto 0;
}

.logo {
  width: 54px;
  height: 54px;
  background: orangered;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -27px;
  transition: .3s;
}

.logo::after {
  content: url("../images/mi-logo.png");
  position: absolute;
  top: 2px;
  left: 5px;
  transition: .1s;
}

.logo::before {
  content: url("../images/home.png");
  position: absolute;
  left: -50px;
  transition: .1s;
  opacity: 0;
}

.logo:hover::after {
  transform: translate(40px);
  opacity: 0;
}

.logo:hover::before {
  transform: translate(50px);
  opacity: 1;
}

.text {
  height: 110px;
  line-height: 120px;
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.cont {
  width: 332px;
  margin: 0 auto;
}

.cont .countury_text {
  padding: 5px 0;
}

.cont .same_cont {
  width: 332px;
  font-size: 0;
}

.cont .same_cont .result {
  width: 287px;
  height: 40px;
  border: 1px solid #ccc;
  vertical-align: middle;
  font-size: 14px;
  text-indent: 20px;
}

.cont .same_cont .search {
  width: 38px;
  height: 42px;
  border: 1px solid #ccc;
  vertical-align: middle;
  border-left: none;
}

.cont .tips {
  font-size: 14px;
  padding: 4px 0;
  margin-bottom: 10px;
}

.cont .tel_text {
  width: 42px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}

.cont .text_number {
  width: 287px;
  height: 40px;
  border: 1px solid #ccc;
  border-left: 0;
}

.cont .mima {
  margin-top: 20px;
}

.cont #pwd {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  text-indent: 20px;
  border: 1px solid #ccc;
}

.cont .tel_tips {
  color: red;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
}

.cont .right_now {
  display: block;
  width: 332px;
  height: 40px;
  background: orangered;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
}

.cont .right_now:hover {
  background: rgba(255, 69, 0, 0.6);
}

.cont .msg {
  padding: 80px 0 40px;
  text-align: center;
}

.bottom_nav {
  text-align: center;
  padding: 15px 0;
}

.bottom_nav a {
  padding: 0 10px;
}

.bottom_text {
  text-align: center;
  padding: 10px 0;
}
